$align: left;
$bg-color: rgb(243, 243, 243);
$color-01: #ff5;
$color-02: rgb(222, 0, 0);
$color-03: #f00;
$color-04: #222;
$color-05: rgb(255, 130, 5);      
$color-default: #444;
$font-family-default: Arial, Helvetica, sans-serif;
$font-giant: 5rem;
$font-big: 3rem;
$font-medium: 2.2rem;
$font-normal: 1.5rem;
$font-small: 1.2rem;
$mb: 1.5rem;
$mt: 1.5rem;
$mt-02: 3rem;
$space-default: 2rem;
$shadow: 6px 6px 12px rgba(0, 0, 0, 0.609);
$border-block: 2px solid black;
$border-btn: 2px solid black;
